@import "var";
@import "reset";
@import "common";
@import "header";
@import "slider";
@import "navbar";
@import "helpers";
@import "rec";
@import "rank";
@import "search";
header{
    height: $header-height;
    background: $header;
}
.views{
    -webkit-overflow-scrolling: touch;
}

